*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.aflTop50{
    width: 80%;
    margin: auto;
}

#headline{
    font-size: 2em;
    margin-bottom: 3%;
    text-align: center;
    color: #374785;
}

.playerRankings{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.picContainer{
    float: left;
    position: relative;
    text-align: center;
}

.picText {
    position: absolute;
    top: 55%;
    left: 54%;
    transform: translate(-50%, -50%);
    color: #374785;
    font-size: 3rem;
    transition: 0.75s ease-in-out;
    -webkit-transition: 0.75s ease-in-out;
    pointer-events: none;
}

.pic{
   width:100%; 
}

.one{
width: 50%;
}

.twoFive{
    width: 50%;
}

.sixTen{
width: 50%;
}

.elevenTwenty{
width: 50%;
}

#playerDisplay{
    position: absolute;
    top:0;
    left: -820;
    width: 96%;
    -webkit-transition: left 1.5s;
    transition: left 1.5s;
    padding: 2%;
    background-color: #a8d0e6;
    color: rgb(46, 44, 44);
}

.showPlayerDisplay{
    left: 0;
    transition: left 1.5s;
    -webkit-transition: left 1.5s;
}

#playerDisplay img{
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 1%;
}

#playerText{
    
    width: 100%;
}

#closeButton{
    display: block;
    position: relative;
    left: 95%;
    background-color: lightgray;
    margin-bottom: 3%;
}

 #rank {
    font-size: 1.7em;
    font-weight: bold;
 }
 
 #name{ 
    font-size: 1.7em;
    font-weight: bold;
}

#team{
    font-size: 1.5em;
}

#bio{
    font-size: 0.8em;
}

/*View for tablets*/
@media (min-width:479px) {
    body{
        background-color: #374785;
    }

    .container{
        width: 84%;
        margin: auto;
        background-color: white;
        padding: 3%
    }

    .aflTop50{
        width:93%;    
    }

    #headline{
        font-size: 2.8em;
    }

    .picText{
        font-size: inherit;
    }

    .one{
        width: 50%;
        font-size: 8rem;
    }


    .twoFive{
        width: 25%;
        font-size: 4rem;
    }


    .sixTen{
        width: 20%;
        font-size: 3rem;
    }

    .elevenTwenty{
        width: 10%;
        font-size: 1rem;
    }

    #playerDisplay{
        height: 425px;
    }

    #playerDisplay img{
        position: absolute;
        top: 2%;
        width: 64%;
        height: 91%;
        object-fit: cover;
        margin-bottom: 0;
    }

    #playerText{
        float: right;
        width: 31%;
    }

    #closebutton{
        position: absolute;
        top: 2%;
        left: 97%;
    }

    #rank{
        font-size: 1.5em;
    }

    #name{
        font-size: 1.5em;
    }
    #team{
        font-size: 1.3em;
    }

    #bio{
        font-size: 0.78em;
    }
}

/*View for desktop*/
@media (min-width:1000px) {

    .container{
        height: 100vh;
    }

    .aflTop50{
        width:820px;
    }

    #headline{
        font-size: 3.8em;
    }

    #playerDisplay{
        height: 95%;
    }

    #rank{
        font-size: 2.2em;
    }

    #name{
        font-size: 2.2em;
    }
    #team{
        font-size: 1.8em;
    }

    #bio{
        font-size: 1.08em;
    }
}